*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template: 
    'header' auto
    'main'350px
    'footer'auto /
     auto;
}
header {
    background-color: antiquewhite;
    grid-area: header;
    display: grid;
}
.header__items {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
}
.header__description{
    border: 1px solid black;
    padding: 3rem;
    background-color: pink;
    
}
main{
    background-color: aquamarine;
    grid-area: main;
}
.main__projects {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
    place-items: center;
}
.projects{
display: grid;
border: 1px solid black;
}
.main__title {
    padding: 0.7rem;
    display: grid;
    place-content: center;
}
footer{
    background-color: rgb(192, 157, 211);
    grid-area: footer;
    display: grid;
    place-items: center;
    padding: 1rem
}
.experience {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    padding: 0.5rem;
    border: 1px solid black;

}

ul {
    list-style: none;
}