*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template: 
    'header' auto
    'main'350px
    'footer'auto /
     auto;
}
header {
    background-color: antiquewhite;
    grid-area: header;
    display: grid;
}
.header__items {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
}
.header__description{
    border: 1px solid black;
    padding: 3rem;
    background-color: pink;
    
}
main{
    background-color: aquamarine;
    grid-area: main;
}
.main__projects {
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
    place-items: center;
}

footer{
    background-color: rgb(192, 157, 211);
    grid-area: footer
    ;
}
ul {
    list-style: none;
}